.listContainer{
    display: flex;
    flex-direction: column;
}
.scroll{
    max-height:176px;
    overflow-y: scroll;
    background-color: #343a40;
    border-radius: 4px;
    margin: 0px 10px 0px 10px;
}
.heading{
    color:#8ac926;
}
.taskList{
    display: flex;
    align-items: center;
    gap:10px;
}
.commonColor{
    color: white;
}